/* ditch jQuery's Verdana and Arial */
.ui-widget,
.ui-widget button {
	font-family: UbuntuC, "Arial Narrow", sans-serif;
}

/* Ditch bolds, too */
.ui-datepicker th,
.ui-widget-header, 
.ui-widget-header .ui-priority-primary {
	font-weight: normal;
	font-family: UbuntuR, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: UbuntuR, Arial, sans-serif;
}

/* Vertical buttonset */
.skeux-buttonset-v .ui-button {
	display: block;
	margin-bottom: -1px;
}
.skeux-buttonset-h .ui-button {
	display: inline-block;
	margin-right: -4px;
}
.skeux-buttonset-h .ui-button .ui-button-text,
.skeux-buttonset-v .ui-button .ui-button-text {
	display: inline-block;
}

/* Vertical tabs */
.skeux-tabs-v {
	padding: 4px;
	position: relative;
}

.skeux-tabs-v .ui-tabs-nav {
	margin: .2em 0 .2em .2em;
	padding: .2em 0 0 .2em;
	position: absolute;
	top: 0;
	left: 0;
}
.skeux-tabs-v .ui-tabs-nav > li {
	border-width: 1px;
	border-right-width: 0;
	clear: left;
//	float: left; //
	list-style: none;
	margin: 0 0 .2em 0;
	right: 0;
//	padding: 0; //
	position: relative;
//	top: 0; //
	white-space: nowrap;
}
.skeux-tabs-v .ui-tabs-nav > li a {
	display: block;
	padding: .5em 1em;
	text-decoration: none;
}
.skeux-tabs-v .ui-tabs-nav > li.ui-tabs-active {
	margin-right: -1px;
	padding-right: 1px;
}
.skeux-tabs-v .ui-tabs-nav > li.ui-tabs-active a,
.skeux-tabs-v .ui-tabs-nav > li.ui-state-disabled a,
.skeux-tabs-v .ui-tabs-nav > li.ui-tabs-loading a {
	cursor: text;
}
.skeux-tabs-v .ui-tabs-nav > li a, 
.ui-tabs-collapsible .ui-tabs-nav > li.ui-tabs-active a {
	cursor: pointer;
}

.skeux-tabs-v .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;

/* Slider marks */
.skeux-slider-h-wrapper,
.skeux-slider-v-wrapper {
	font-family: UbuntuC, "Arial Narrow", sans-serif;
	font-size: 12px;
	position: relative;
}
.skeux-slider-h-wrapper { 
	margin: 0.5em auto;
	padding-bottom: 20px; 
}
.skeux-slider-v-wrapper { 
	margin: 0.5em 0 0 0;
	width: 48px;
}

.skeux-slider-h-wrapper .skeux-slider-mark-min {
	background-image: url('skeux-images/slider-horizontal-ticks-888888.png');
	background-position: -32px 0;
	background-repeat: repeat-y;
	padding-top: 6px;
	position: absolute;
	left: -16px; bottom: 0;
	text-align: center;
	width: 32px;
}
 .skeux-slider-v-wrapper .skeux-slider-mark-min {
	background-image: url('skeux-images/slider-vertical-ticks-888888.png');
	background-position: 0 -42px;
	background-repeat: repeat-x;
	padding-left: 8px;
	position: absolute;
	right: 0; bottom: -5px;
	text-align: left;
	width: 25px;
} 
.skeux-slider-h-wrapper .skeux-slider-mark-max {
	background-image: url('skeux-images/slider-horizontal-ticks-888888.png');
	background-position: -32px 0;
	background-repeat: repeat-y;
	padding-top: 6px;
	position: absolute;
	right: -15px; bottom: 0;
	text-align: center;
	width: 32px;
}
.skeux-slider-v-wrapper .skeux-slider-mark-max {
	background-image: url('skeux-images/slider-vertical-ticks-888888.png');
	background-position: 0 -42px;
	background-repeat: repeat-x;
	padding-left: 8px;
	position: absolute;
	right: 0; top: -5px;
	text-align: left;
	width: 25px;
}
.skeux-slider-h-wrapper .skeux-slider-mark-tick {
	background-image: url('skeux-images/slider-horizontal-ticks-888888.png');
	background-position: 0 0;
	position: absolute;
	bottom: 4px;
	width: 32px; height: 12px;
}

/*** TEMP ***/

