h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: UbuntuR, Arial, sans-serif;
}

/* ditch jQuery's Verdana and Arial */
.ui-widget,
.ui-widget button {
	font-family: UbuntuC, "Arial Narrow", sans-serif;
}

/* Ditch bolds, too */
.ui-datepicker th,
.ui-widget-header, 
.ui-widget-header .ui-priority-primary {
	font-weight: normal;
	font-family: UbuntuR, Arial, sans-serif;
}

/* Vertical buttonset */
.skeux-buttonset-v.skeux .ui-button {
	display: block;
	margin-bottom: -1px;
}
.skeux-buttonset-h.skeux .ui-button {
	display: inline-block;
	margin-right: -4px;
}
.skeux-buttonset-h.skeux .ui-button .ui-button-text,
.skeux-buttonset-v.skeux .ui-button .ui-button-text {
	display: inline-block;
}

/* Vertical tabs */
.skeux-tabs-v.skeux {
	padding: 4px;
}

.skeux-tabs-v.skeux .ui-tabs-nav {
	margin: .2em 0 .2em .2em;
	padding: .2em 0 0 .2em;
	position: absolute;
	top: 0;
	left: 0;
}
.skeux-tabs-v.skeux .ui-tabs-nav > li {
	border-width: 1px;
	border-right-width: 0;
	clear: left;
	float: none;
	margin: 0 0 .2em 0;
	right: 0; 
}
.skeux-tabs-v.skeux .ui-tabs-nav > li a {
	display: block;
	float: none;
	padding: .5em 1em;
}
.skeux-tabs-v.skeux .ui-tabs-nav > li.ui-tabs-active {
	margin-bottom: auto;
	padding-bottom: auto;
	margin-right: -1px;
	padding-right: 1px;
}

/* Slider marks */
.ui-slider.skeux {
	font-family: UbuntuC, "Arial Narrow", sans-serif;
	font-size: 12px;
}

.ui-slider-horizontal.skeux { 
	height: 10px; 
	margin: 0 auto 36px;
}
.ui-slider-vertical.skeux { 
	margin: 1em 36px 1em 0;
	width: 10px; 
}

.ui-slider-horizontal.skeux .skeux-slider-mark-min, 
.ui-slider-horizontal.skeux .skeux-slider-mark-max,
.ui-slider-horizontal.skeux .skeux-slider-tick {
	background-image: url('skeux-images/slider-horizontal-ticks-888888.png');
	position: absolute;
	text-align: center;
	width: 32px; overflow: visible;
}
.ui-slider-horizontal.skeux .skeux-slider-mark-min,
.ui-slider-horizontal.skeux .skeux-slider-mark-max {
	background-position: -32px 0;
	background-repeat: repeat-y;
	bottom: -20px;
	height: 12px;
	padding-top: 6px;
}
.ui-slider-horizontal.skeux .skeux-slider-mark-min { left: -16px; }
.ui-slider-horizontal.skeux .skeux-slider-mark-max { right: -16px; }
.ui-slider-horizontal.skeux .skeux-slider-tick { 
	background-position: 0 0;
	bottom: -12px;
	height: 8px;
}

.ui-slider-vertical.skeux .skeux-slider-mark-min,
.ui-slider-vertical.skeux .skeux-slider-mark-max,
.ui-slider-vertical.skeux .skeux-slider-tick {
	background-image: url('skeux-images/slider-vertical-ticks-888888.png');
	position: absolute;
	text-align: left;
	width: 32px; height: 12px; overflow: visible;
}
.ui-slider-vertical.skeux .skeux-slider-mark-min,
.ui-slider-vertical.skeux .skeux-slider-mark-max {
	background-position: 0 -42px;
	background-repeat: repeat-x;
	padding-left: 8px;
	right: -42px;
}

.ui-slider-vertical.skeux .skeux-slider-mark-min { bottom: -5px; } 
.ui-slider-vertical.skeux .skeux-slider-mark-max { top: -7px; }
.ui-slider-vertical.skeux .skeux-slider-tick { 
	background-position: 0 -10px;
	right: -16px;
	width: 11px;
}

/*** TEMP ***/

