/* ditch Verdana and Arial */
.ui-widget,
.ui-widget button {
	font-family: UbuntuC, "Arial Narrow", sans-serif;
}

/* Ditch bolds, too */
.ui-datepicker th,
.ui-widget-header, 
.ui-widget-header .ui-priority-primary {
	font-weight: normal;
	font-family: UbuntuR, Arial, sans-serif;
}

/* Vertical tabs */
.ui-tabs .skeux-tabs-nav-horizontal {}

.ui-tabs .skeux-tabs-nav-vertical {
	margin: .2em 0 .2em .2em;
	padding: .2em 0 0 .2em;
	position: absolute;
	top: 0;
	left: 0;
}
.ui-tabs .skeux-tabs-nav-vertical li {
	border-width: 1px;
	border-right-width: 0;
	clear: left;
	list-style: none;
	margin: 0 0 .2em 0;
	right: 0;
	position: relative;
	white-space: nowrap;
}
.ui-tabs .skeux-tabs-nav-vertical li a {
	display: block;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .skeux-tabs-nav-vertical li.ui-tabs-active {
	margin-right: -1px;
	padding-right: 1px;
}
.ui-tabs .skeux-tabs-nav-vertical li.ui-tabs-active a,
.ui-tabs .skeux-tabs-nav-vertical li.ui-state-disabled a,
.ui-tabs .skeux-tabs-nav-vertical li.ui-tabs-loading a {
	cursor: text;
}
.ui-tabs .skeux-tabs-nav-vertical li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .skeux-tabs-nav-vertical li.ui-tabs-active a {
	cursor: pointer;
}

/*** TEMP ***/
